extends base.pug

block scripts
  script(src='/static/index.js')


block style 
    style
      include ../static/style.css


block content 
    
    
    section#intro
        div Welcome to Academy of Dance.
        div.small Dancers don't need wings to fly.

    section#mission
        h2 Our Mission
        div.cards
          div.card
            h3 Dance Perfection
            div.card-box
              div.card-img
                img(src="../static/img1.png", alt="Dance Academy", srcset="")
              div.card-cont 
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi consequuntur obcaecati temporibus itaque? Accusamus, voluptates veniam facere nihil exercitationem nobis nisi similique, ipsam dolor magni cum, obcaecati commodi maiores illum autem possimus in recusandae magnam!
          div.card
            h3 Dance as you like
            div.card-box
              div.card-img
                img(src="../static/img2.png", alt="Dance Academy", srcset="")
              div.card-cont 
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi consequuntur obcaecati temporibus itaque? Accusamus, voluptates veniam facere nihil exercitationem nobis nisi similique, ipsam dolor magni cum, obcaecati commodi maiores illum autem possimus in recusandae magnam!
          div.card
            h3 Expert Teaching
            div.card-box
              div.card-img
                img(src="../static/img3.jpg", alt="Dance Academy", srcset="")
              div.card-cont 
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi consequuntur obcaecati temporibus itaque? Accusamus, voluptates veniam facere nihil exercitationem nobis nisi similique, ipsam dolor magni cum, obcaecati commodi maiores illum autem possimus in recusandae magnam!

    section#sponsors
        h3 Our Sponsors
        div#sponsor-img  
         img(src="../static/img/logo1.png", alt="Sponsor Image")
         img(src="../static/img/logo2.png", alt="Sponsor Image")
         img(src="../static/img/logo3.png", alt="Sponsor Image")
         img(src="../static/img/logo4.png", alt="Sponsor Image")
